*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}

header{
    background-image:linear-gradient(rgba(126, 49, 49, 0.8),rgba(0,0,0,0.8)), url(../1.jpg)  ;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
 text-decoration: none;
 color: black; 
 padding: 5px 20px;
 border: 2px solid transparent;  
 transition: 0.2s ease; 
}

ul li a:hover{
    background-color: rgb(55, 165, 199);
    color: black;
}
ul li.active a{
    background-color: rgb(255, 255, 255);
    color: black;
}

.logo img{
    float:left ;
    width: 200px;
    height: auto;
    margin-top: 25px;
}

.main{
    max-width: 1200px;
    margin:auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: white;
    font-size: 70px;
    
}

.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;

}

.btn:hover{
    background-color: rgb(55, 165, 199);
    color: black;
}

.bottom{
    position: absolute;
    top: 90%;
    left: 90%;
       
}