
.navbar
{
    background-color: cadetblue;
    margin-bottom: 50px;
}
.nav-item{
    margin:0px;
    background-color: aquamarine;
}

.nav-link
{
    text-align: center;
    border: black solid 1px;
}
#menu{
    text-align: center;
}
#chi{
    background-color: rgb(218, 120, 96);
}
#bur{
    background-color: rgb(106, 206, 122);
}
#oml{
    background-color: cornsilk;
}
